@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html * {
    -webkit-font-smoothing: antialiased;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", serif;
  background: #faf8f5;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
img{
    max-width: 100%;
    width: 100%;
}
.container{
    max-width: 1400px;
    padding-left: 2%;
    padding-right: 2%;
}
.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}


.banner-title {
    color: #fff;
    font-size: 50px;
    margin: 0 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.small-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    margin: 0 0 10px 0;
    color: #ebd7b2;
    font-weight: 600;
    font-size: 16px;
}
.lead-text{
    font-size: 1.25rem;
    font-weight: 300;
}

.cta-btn {
    border: none;
    color: #fff;
    background: #978667;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 16px;
    border: 2px solid #978667;
}

.cta-btn:hover {
    background: transparent;
    color: #978667;
}
.btn-outer{
    background: transparent;
    border-color: #24262d;
    color: #24262d;
}
.btn-outer:hover{
    background: #24262d;
    color: #fff;
}
.small-heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.tile-disc {
    font-size: 16px;
    color: #333;
    line-height: 1.7;
    margin-bottom: 30px;
}
.site-heading h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    color: #333;
}
.site-heading {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0 10px;
}
.site-heading .small-text{
    color: #978667;
}
.big-heading{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 15px;
    color: #333;
}