/* header section css start */
.site-header {
    padding: 30px 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}
.site-header.fixed {
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #d9e1e6;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-img {
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 150px;
    filter: brightness(0) invert(1);
}
.fixed .logo-img {
    filter: brightness(0) invert(0);
}
.main-nav ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.fixed .main-nav ul li a{
    color: #333;
}
.main-nav ul li a:hover{
    opacity: 0.6;
}
.main-nav ul li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav ul li:first-child{
    margin-left: 0;
}
.main-nav ul{
    text-align: right;
}
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header section css end */

/* banner section css start  */
.site-banner{
    height: 100vh;
    position: relative;
}
.banner-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.banner-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-video::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

/* banner section css end */

/* home about section  css start */
.about-section{
    background-color: #fff;
    background-image: url(../images/abt-pattern.png);
    background-position-x: left;
    background-position-y: top;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
}

.about-section .small-text{
    color: #978667;
}
.about-img-bx {
    height: 100%;
    width: 100%;
    position: relative;
}
.abt-img, .abt-img-float, .hotel-link-img{
    background-image: url(../images/blog-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.about-section .row, .hotels-link-sec .row{
    justify-content: space-between;
}
.about-text {
    padding: 150px 0;
}
.about-text p {
    margin: 15px 0 30px 0;
}
.abt-img-float {
    left: -70%;
    bottom: 50%;
    position: absolute;
    z-index: 99;
    border: 4px solid #fff;
    width: 60%;
    height: 60%;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.21);
    transform: translate(70%, 50%);
}
.hotel-link-img{
    background-image: url(../images/blog-6.jpg);
}
.hotel-link-text {
    padding: 50px 0;
}
.hotels-link-sec .row{
    margin-bottom: 90px;
}
.hotels-link-sec .row:last-child{
    margin-bottom: 0;
}

/* home about section css end */


/* why choose us section css start */
.why-choose-sec{
    background-color: #fff;
}

.choose-icon {
    background-image: url(../images/choose-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65px;
    width: 65px;
    margin: auto;
    margin-bottom: 20px;
}
.choose-wrap {
    padding: 0 25px 25px 25px;
    border-width: 2px;
    text-align: center;
    border-style: solid;
    border-right: 0;
    border-image: linear-gradient(to bottom, #ededed, rgba(0, 0, 0, 0)) 1 60%;
    height: 100%;
}
.col-md-4:first-child .choose-wrap {
    border-left: none;
}
.why-choose-sec .row {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}
.choose-text p {
    margin-bottom: 0;
}
/* why choose us section css end */

/* explore section css start  */
.explore-sec{
    position: relative;
}
.explore-text {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.explore-text h3, .explore-text p{
    color: #fff;
}
.disclaimer-wrap {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}
.disclaimer-wrap p a {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
}
.disclaimer-wrap p {
    margin-bottom: 0;
}
/* explore section css end */


/* footer section css start */
.site-footer{
    background-color: #333;
}
.footer-heading h4 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.footer-heading p {
    color: #fff;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 25px;
}
.footer-social-links ul li a {
    font-size: 20px;
    color: #fff;
}
.footer-social-links ul li a:hover{
    color: #ebd7b2;
}
.footer-social-links ul li {
    display: inline-block;
    margin-right: 20px;
}
.footer-links ul li a {
    color: #fff;
    font-size: 15px;
    display: inline-block;
}
    .footer-links ul li {
        padding: 5px 0;
    }
    .footer-links ul li:first-child{
        padding-top: 0;
    }
    .newsletter-group input {
        border: 0;
        height: 45px;
        border-radius: 3px;
        padding-left: 15px;
        background-color: rgba(255, 255, 255, 0.06);
        color: #fff;
        width: 100%;
        font-size: 15px;
    }
    .newsletter-group input:focus {
        border: 0;
        box-shadow: none;
    }
    .newsletter-group input:focus-visible {
        outline: none;
    }
    .newsletter-group {
        position: relative;
        margin: 25px 0;
    }
    .newsletter-group button{
        position: absolute;
        right: 15px;
        color: #fff;
        font-size: 22px;
        top: 1px;
        border: 0;
        opacity: 0.6;
        height: 45px;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        outline: none;
    }

    .footer-top{
        background-image: url(../images/footer-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
    padding: 100px 0 50px;

    }
    .footer-top::before{
        content: '';
        background: transparent;
        background: linear-gradient(to bottom, #515151e8, #24262d);
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }
    .footer-top .container{
        position: relative;
        z-index: 1;
    }
    .footer-bottom {
        padding: 25px 0;
        background-color: #1f2127;
    }
    .copyright p {
        font-size: 15px;
        color: #fff;
        margin-bottom: 0;
    }
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ssl-logo{
        background-image: url(../images/ssl-logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 45px;
        width: 120px;
    }
/* footer section css end */



/* sub pages css start */
.sub-banner{
    background-image: url(../images/party-hotel-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
.sub-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
}
.hotel-abt .about-text {
    padding: 70px 0;
}
.choose-text h5 {
    color: #333;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.3;
    font-size: 20px;
}
.hotel-wrap {
    display: block;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
.hotel-img{
    background-image: url(../images/blog-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.hotel-text .small-heading {
    /* margin-bottom: 10px; */
    font-size: 25px;
}
.loca-text .tile-disc {
    margin-bottom: 0;
}
.loca-text {
    margin-bottom: 10px;
}
.hotel-text {
    padding: 30px 20px 70px;
}
.hotel-main{
    background: #fff;
}
.hotel-main .col-lg-4 {
    margin: 15px 0;
}
.hotel-text .cta-btn.btn-outer {
    position: absolute;
    left: 20px;
    bottom: 30px;
}
/* sub pages css end */

